#{extends 'main.html' /}
#{set title:'Home' /}


<html>

<body>



<div id="header">
<h1 >Test My Cooking</h1>
<div id="soustitre">
<h2>Et si on parlait cuisine ?</h2></div>
</div>
<div id="login"> 

Login : <input type="text" name="firstname"> Password : <input type="password" name="pwd">
<input type="button" name="lien1" value="connection" onclick=""  style=""onclick> 
<br/>
	<a href="formulaire.html" style="font-style: italic">Nouvel utilisateur</a>
<br/>

</div>


<div id="content" style="background-color:#EEEEEE;text-align:center;">

<img src="@{'/public/images/accueil.jpg'}")><br/>
</div>

<div id="footer" >
Adrien BERTRAND</div>



</body>
</html>
